.content-header > .row > .col-md-6 > h3,
.content-header > .row > .col-md-12 > h3 {
    margin-top: 10px !important;
}

@media (max-width: 991px) {
    .content-header > .row .col-md-6,
    .content-header > .row .col-md-12 {
        float: none !important;
        text-align: center;
    }
    .content-header > .row > .col-md-12 + .col-md-6 > button,
    .content-header > .row > .col-md-6 + .col-md-6 > button {
        float: none !important;
        text-align: center;
    }

    .books .row .col-md-2,
    .books .row .col-md-3,
    .books .row .col-md-4,
    .books .row .col-md-6,
    .books .row .col-md-12 {
        margin-bottom: 15px;
    }

    .books .row {
        margin-bottom: 0 !important;
    }

    .books .book-item .delete-book,
    .books .book-item .view-book,
    .books .book-item .edit-book {
        font-size: 26px;
    }

    .books .book-item .edit-book {
        right: 24px !important;
    }

    .books .book-item .view-book {
        top: 26px !important;
    }
}

.books .book-item {
    text-align: center;
    padding: 15px;
    box-shadow: 1px 2px 5px 1px #ccc;
    background: #ffffff;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.books .row {
    margin-bottom: 25px;
}

.books .row:last-child {
    margin-bottom: 0;
}

.books .book-item h5.book-title {
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 4px;
}

.books .book-item .delete-book {
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    background: #ad3f3f;
    padding: 1px 3px;
    color: #ffffff;
}

.books .book-item .edit-book {
    position: absolute;
    right: 13px;
    top: -5px;
    border-radius: 50%;
    background: #0071fd;
    padding: 1px 2px;
    color: #ffffff;
}

.books .book-item .view-book {
    position: absolute;
    top: 11px;
    right: -5px;
    border-radius: 50%;
    background: #634747;
    padding: 1px 2px;
    color: #fff;
}

body {
    font-size: 13px;
}

.section-item-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section-item-name {
    display: inline;
    margin: 10px 10px;
}

.section-item {
    margin: 10px 30px;
    font-size: 16px;
}

.btn-add-section-container {
    margin: 10px 30px 0;
}

.thumbnails-container .row:first-child {
    margin-top: 0;
}

.thumbnails-container .row {
    margin-top: 30px;
}

.thumbnails-container .row .col-md-3 {
    text-align: center;
}

.thumbnail-item img {
    width: 120px;
}

.thumbnail-item {
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
}

.thumbnails-container .col-xs-3 {
    text-align: center;
}

.thumbnail-item a {
    position: relative;
}

/*.move-left-thumbnail {*/
    /*position: absolute;*/
    /*left: -18px;*/
    /*top: 0;*/
    /*font-size: 20px;*/
/*}*/

/*.move-right-thumbnail {*/
    /*position: absolute;*/
    /*right: -18px;*/
    /*top: 0px;*/
    /*font-size: 20px;*/
/*}*/

/*.move-right-thumbnail:hover,*/
/*.move-left-thumbnail:hover {*/
    /*color: #b11c1c;*/
    /*cursor: pointer;*/
/*}*/

.delete-thumbnail {
    position: absolute;
    right: 0px;
    background: #ad3f3f;
    padding: 0 2px;
    color: #fff;
    cursor: pointer;
}

.view-section {
    border-radius: 50%;
    background: #d2d6de;
    padding: 3px 3px;
    color: #000000;
}

.delete-section {
    color: #ffffff;
    background: #ad3f3f;
    border-radius: 50%;
    padding: 2px 4px;
}

.selected-thumbnail {
    border: 2px dashed #000;
}