
#image {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 1420px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: .5s;
    position: relative;
}
a.right {
    position: absolute;
    z-index: 3;
    right: -50px;
    font-size: 108px;
    top: 49%;
    color: rgba(0, 0, 0, 0.57);
}
a.left {
    position: absolute;
    z-index: 3;
    left: -50px;
    font-size: 108px;
    top: 49%;
    color: rgba(0, 0, 0, 0.57);
}

@media (max-width: 991px) {
    a.right,
    a.left {
        font-size: 60px;
    }
    a.right {
        right: -25px;
    }
    a.left {
        left: -25px;
    }
}

@media (max-width: 1170px) {
    #image {
        width: 700px;
        height: 850px;
    }
}

@media (max-width: 880px) {
    #image {
        width: 500px;
        height: 607px;
    }
    a.right {
        right: -20px;
    }
    a.left {
        left: -20px;
    }
}

@media (max-width: 660px) {
    #image {
        width: 328px;
        height: 363px;
    }
    a.right {
        right: -10px;
    }
    a.left {
        left: -10px;
    }
    a.right,
    a.left {
        font-size: 34px;
    }

    .cover-container {
        float: none !important;
    }

    .info-container {
        float: none !important;
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .section-navigation a {
        font-size: 12px !important;
    }
}

a[disabled] {
    pointer-events: none;
    color: gray;
}

body {
    background: #aa8a8a url(../images/background.png) left top repeat-x;
}

.wrap > .content > .container {
    background: #FFF;
}

.book-list {
    margin: 15px 0;
}

.book-list .book-container:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.book-list .book-container:first-child {
    padding-top: 0;
}

.book-container {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cover-container {
    float: left;
}

.info-container {
    float: left;
    margin-left: 20px;
}

.book-list .book-container .info-container > a {
    font-size: 20px;
    color: #000;
}

.book-list .book-container .info-container p {
    font-style: italic;
    color: #7e807a;
}

.section-container {
    margin: 10px 0;
}

.section-book-name {
    margin-top: 15px;
    font-size: 20px;
    border-bottom: 1px dashed #ccc;
}

.section-navigation {
    padding-bottom: 10px;
    padding-top: 10px;
}

.prev-section::before {
    content: "\f060";
    font-family: FontAwesome, serif;
    margin-right: 20px;
}

.next-section::after {
    content: "\f061";
    font-family: FontAwesome, serif;
    margin-left: 20px;
}

.section-navigation a {
    font-size: 18px;
}

.section-navigation > .col-xs-4:nth-child(1) {
    text-align: right;
}

.section-navigation > .col-xs-4:nth-child(2) {
    text-align: center;
}

div.footer {
    top: inherit;
    position: absolute !important;
    margin-top: -30px;
}

div.content {
    min-height: inherit !important;
}

.image-view h3 {
    text-align: center;
    color: #fff;
}

div.footer .container {
    background: #2b2920;
    padding: 16px;
    text-align: center;
    color: #fff;
    font-size: 11px;
}

.header {
    margin-top: 15px;
}

.logo {
    float: left;
}

.right-top-menu {
    float: right;
}

.right-top-menu ul {
    list-style: none;
    padding-left: 0 !important;
}

.right-top-menu ul li {
    display: inline;
    margin: 0 10px;
}

.right-top-menu ul li a {
    color: #fff;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.right-top-menu ul li a:hover {
    color: #cc8f0e;
}

.wrap {
    position: relative;
}